<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Add new meeting</title>
</head>
<body>
<!--/*@thymesVar id="meeting" type="com.sefir.app.Meeting"*/-->
<form method="post" th:object="${meeting}">
    Name*:<br/>
    <input type="text" name="Name" th:field="*{name}"/><br/>
    Description:<br/>
    <input type="text" name="Description" th:field="*{description}"/><br/>
    Duration 15-120 minutes*:<br/>
    <input type="text" name="Duration" th:field="*{duration}"/><br/>
    Date*:<br/>
    <input type="text" name="Duration" th:field="*{date}"/><br/>
    <button type="submit" class="btn btn-default">Add a meting</button>
</form>
</body>
</html>